.button {
  max-width: 150px;
  width: 100%;
  min-width: 80px;
  background: linear-gradient(to bottom, #6d6e71, black);
  padding: 0 40px;
  border: none;
  min-height: 36px;
  font-size: 18px;
  border-radius: 6px;
  color: #fff;
  outline: none;
  text-transform: capitalize;
}

.button:disabled {
  background: grey;
}