.members_item {
  display: flex;
  font-family: "Nunito Sans", Arial, sans-serif;
  align-items: center;

  &:not(:last-child) {
  margin-bottom: 10px;
  }

  &_img {
    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }

  &_text {
    font-size: 16px;
  }
  &_active {
    color: blue;
  }
}