.messages_item {
  padding: 15px;
  background-color: #70c1ff;
  min-width: 350px;
  border-radius: 10px;
  color: #fff;
  align-self: flex-start;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  &:nth-child(odd) {
    align-self: flex-end;
  }
}