@import-normalize;

:root {
  --bg-main: #838daa;
}

*,
::after,
::before {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: "Nunito Sans", Arial, sans-serif;
  overflow-x: hidden;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
ul,
li,
p,
dl,
dt,
dd,
button {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
}

input { 
  border: none;
}

img {
  display: block;
  width: 100%;
  height: 100%;
}

.d-flex {
  display: flex;
}

